.product__section-1 {
  padding: 130px 0;
  background-color: $taupe-gray;
  color: $white;
  font-size: $medium;


  .product__container {
    margin: 0 auto;
    text-align: center;

    .product__image-1 {
      width: 900px;
      height: 310px;
      object-fit: cover;
      border-radius: 20px;

    }

    .product__title {
      margin: 30px 0;

    }

  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 649px) {
  .product__section-1 {
    padding: 50px 0;
  }

}
